{% extends "edu_base.html" %}
{% load article_tags %}
{% load staticfiles %}

{% block title %}Articles{% endblock %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url({% static "img/bg-img/breadcumb.jpg" %});">
    </div>
    <!-- ##### Breadcumb Area End ##### -->

        <section class="section gb nopadtop">
            <div class="container">
                <div class="boxed">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="content blog-list">
                                <div class="blog-wrapper clearfix">
                                    <div class="blog-meta">
                                        <small>Tags:
                                          {% for tag in post.tags.all %}
                                            <a href="{% url "article:post_list_by_tag" tag.slug %}">
                                              {{ tag.name }}
                                            </a>
                                            {% if not forloop.last %}, {% endif %}
                                          {% endfor %}
                                        </small>   
                                        <h3>{{ post.title }}</h3>
                                        <ul class="mylistInline">
                                            <li>{{ post.publish }}</li>
                                            <li><span>written by</span> <a href="#">{{ post.author }}</a></li>
                                        </ul>
                                    </div><!-- end blog-meta -->

                                    <div class="blog-media">
                                        <img src="{% static "temp_upload/blog_01.jpg" %}" alt="" class="img-responsive img-rounded">
                                    </div><!-- end media -->

                                    <div class="blog-desc-big">
                                        <p class="lead">lead Space ~~~~~~~</p>

                                        <p> {{ post.body|markdown }} </p>


                                        <hr class="invis">

                                        <div class="tags-widget">   
                                            <ul class="mylistInline">
                                                {% for tag in post.tags.all %}
                                                    <li><a href="{% url "article:post_list_by_tag" tag.slug %}">{{ tag.name }}</a></li>
                                                    {% if not forloop.last %}, {% endif %} 
                                                {% endfor%}  
                                            </ul>
                                        </div><!-- end list-widget -->

                                    </div><!-- end desc -->
                                </div><!-- end blog -->
                            </div><!-- end content -->

                            <div class="authorbox">
                                <div class="site-publisher clearfix">
                                    <img src="{% static "temp_upload/people_10.jpeg" %}" alt="" class="img-responsive img-circle">
                                    <a href="single-agency.html" title=""><h4><small>about</small> <span>Martin Martines</span></h4></a>
                                    <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth.</p>

                                    <div class="authorbox-social">
                                        <ul class="mylistInline">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                        </ul><!-- end list -->
                                    </div><!-- end share -->
                                </div><!-- end publisher -->
                            </div><!-- end details -->

                            <div class="content boxed-comment clearfix">
                                {% with comments.count as total_comments %}
                                    <h3 class="small-title">
                                     {{ total_comments }} comment{{ total_comments|pluralize }}
                                    </h3>
                                {% endwith %}
                                <div class="comments-list">
                                    {% for comment in comments %}
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img src="{% static "temp_upload/people_12.jpeg" %}" alt="" class="img-circle">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading user_name">Comment {{ forloop.counter }} by {{ comment.name }}</h4>
                                                <p>{{ comment.body|linebreaks }}</p>
                                                <p class="pull-right"><small>{{ comment.created }}</small></p>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p>There are no comments yet.</p>
                                    {% endfor %}
                                </div>
                            </div><!-- end content -->

                            <div class="content boxed-comment clearfix">
                                <h3 class="small-title">Leave a Comment</h3>
                                <form action="." method="post">
                                    {% csrf_token %}
                                    {% for field in comment_form %}
                                        {{ field }}
                                        {{ field.errors }}
                                        {% if field.help_text %}
                                            <p class="help text-small text-muted">{{ field.help_text|safe}}</p>
                                        {% endif %}
                                    {% endfor %}
                                  <button class="btn academy-btn mt-30" type="submit">Leave a Comment</button>
                                </form>
                            </div><!-- end content -->

                        </div><!-- end col -->

                        <div class="sidebar col-md-4">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <img src="{% static "temp_upload/banner.jpeg" %}" alt="" class="img-responsive img-rounded">
                                </div>
                            </div>

                            <div class="widget clearfix">
                                <h3 class="widget-title">Popular Posts</h3>
                                <div class="post-widget">
                                    <div class="media">
                                        <img src="{% static "temp_upload/blog_small_01.jpg" %}" alt="" class="img-responsive alignleft img-rounded">
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html">Learning English Like a Pro..</a></h5>
                                            <div class="blog-meta">
                                                <ul class="mylistInline">
                                                    <li>4 days ago</li>
                                                    <li><span>by</span> <a href="#">Edulogy Team</a></li>
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>

                                    <div class="media">
                                        <img src="{% static "temp_upload/blog_small_02.jpg" %}" alt="" class="img-responsive alignleft img-rounded">
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html">How to create a beautiful website with Bootstrap</a></h5>
                                            <div class="blog-meta">
                                                <ul class="mylistInline">
                                                    <li>5 days ago</li>
                                                    <li><span>by</span> <a href="#">Boby DOE</a></li>
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>

                                    <div class="media">
                                        <img src="{% static "temp_upload/blog_small_03.jpg" %}" alt="" class="img-responsive alignleft img-rounded">
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html">Don't forget to update your Google web master tools</a></h5>
                                            <div class="blog-meta">
                                                <ul class="mylistInline">
                                                    <li>6 days ago</li>
                                                    <li><span>by</span> <a href="#">Martin</a></li>
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>
                                </div><!-- end post-widget -->
                            </div><!-- end widget -->

                            <div class="widget clearfix">
                                <h3 class="widget-title">Subscribe Our Newsletter</h3>
                                <div class="newsletter-widget">
                                    <p>You can opt out of our newsletters at any time. See our <a href="#">privacy policy</a>.</p>
                                    <form class="form-inline" role="search">
                                        <div class="form-1">
                                            <input type="text" class="form-control" placeholder="Enter email here..">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end widget -->

                            <div class="widget clearfix">
                                <h3 class="widget-title">Popular Tags</h3>
                                <div class="tags-widget">   
                                    <ul class="mylistInline">
                                        <li><a href="#">course</a></li>
                                        <li><a href="#">web design</a></li>
                                        <li><a href="#">development</a></li>
                                        <li><a href="#">language</a></li>
                                        <li><a href="#">teacher</a></li>
                                        <li><a href="#">speaking</a></li>
                                        <li><a href="#">material</a></li>
                                        <li><a href="#">css3</a></li>
                                        <li><a href="#">html</a></li>
                                        <li><a href="#">learning</a></li>
                                    </ul>
                                </div><!-- end list-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end row -->
                </div><!-- end boxed -->
            </div><!-- end container -->
        </section>

{% endblock %}