{% extends "pagebase.html" %}
{% load staticfiles %}
{% block title %}CoursePage{% endblock %}

{% block content %}
    <div class="banner-w3agile">
      <div class="container">
        <h3><a href="index.html">Home</a> / <span>Services</span></h3>
      </div>
    </div>
    <div class="serach-w3agile">
      <div class="container">
        <h3 class="tittle2">Search Courses</h3>
        <div class="place-grids">
          <div class="col-md-2 place-grid">
            <select class="sel">
              <option value="">Categories</option>
            </select>
          </div>
          <div class="col-md-2 place-grid">
            <select class="sel">
              <option value="">Course Tags</option>
            </select>
          </div>
          <div class="col-md-2 place-grid">
            <select class="sel">
              <option value="">Discipline</option>
            </select>
          </div>
          <div class="col-md-2 place-grid">
            <select class="sel">
              <option value="">Duration</option>
            </select>
          </div>
          <div class="col-md-4 place-grid">
            <form action="#" method="post">
              <input type="submit" value="Search">
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!--content-->
    <div class="content">
      <div class="courses-w3ls">
        <div class="container">
          <h2 class="tittle">Our Courses</h2>
          <div class="course-grids">
            <div class="col-md-6 course-grid">
              <div class="mask">
                <img src="{% static "img/c1.jpg" %}" class="img-responsive zoom-img" />
              </div>
            </div>
            <div class="col-md-6 course-grid1 gri">
              <h4>Mechanical Engineering</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</p>
              <ul class="grid-part">
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Praesent vestibulum molestie lacus</li>
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Donec sagittis interdum tellusplacerat adipiscing</li>
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Nulla consectetur adipiscing</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="course-grids">
            <div class="col-md-6 course-grid1">
              <h4>Information Technology</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</p>
              <ul class="grid-part">
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Praesent vestibulum molestie lacus</li>
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Donec sagittis interdum tellusplacerat adipiscing</li>
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Nulla consectetur adipiscing</li>
              </ul>
            </div>
            <div class="col-md-6 course-grid gri">
              <div class="mask">
                <img src="{% static "img/c2.jpg" %}" class="img-responsive zoom-img" />
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="course-grids">
            <div class="col-md-6 course-grid">
              <div class="mask">
                <img src="{% static "img/c3.jpg" %}" class="img-responsive zoom-img" />
              </div>
            </div>
            <div class="col-md-6 course-grid1 gri">
              <h4>Computer Science</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</p>
              <ul class="grid-part">
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Praesent vestibulum molestie lacus</li>
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Donec sagittis interdum tellusplacerat adipiscing</li>
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Nulla consectetur adipiscing</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="course-grids">
            <div class="col-md-6 course-grid1">
              <h4>Chemical Engineering</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.</p>
              <ul class="grid-part">
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Praesent vestibulum molestie lacus</li>
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Donec sagittis interdum tellusplacerat adipiscing</li>
                <li><i class="glyphicon glyphicon-ok-sign"> </i>Nulla consectetur adipiscing</li>
              </ul>
            </div>
            <div class="col-md-6 course-grid gri">
            <div class="mask">
                <img src="{% static "img/c4.jpg" %}" class="img-responsive zoom-img" />
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>  
    <!--content-->
{% endblock %}
